@using Microsoft.AspNetCore.Http
@using System.IdentityModel.Tokens.Jwt
@using eCommerceFrontend.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{
}
    <ul class="navbar-nav">
        @if (HttpContextAccessor.HttpContext.Session.GetString("JWToken")!=null)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-light"  title="Manage" asp-controller="Users" asp-action="Orders">Hello User!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-controller="Users" asp-action="Logoff" >
                    <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" id="login" asp-controller="Users" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" id="register" asp-controller="Users" asp-action="Register">Register</a>
            </li>
        }
    </ul>