@using Microsoft.AspNetCore.Http
@using System.IdentityModel.Tokens.Jwt
@using eCommerceFrontend.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{
}
<ul class="navbar-nav">
    @if ("User" == "User")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
</ul>
