
    <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UploadFile">
        <input name="file" type="file" class="form-control" />
        <input type="submit" value="Create" class="btn btn-default" />
    </form>