@model eCommerceFrontend.Models.View.Admin_Model.ProductView

@{
    ViewData["Title"] = "ViewProducts";
}

<h1>ViewProducts</h1>

@foreach(var product in Model.Products)
{
<text>
    <div class="container m-3 p-3 shadow-sm">
        <div class="row m-3 ">
            <div class="col-3">
                <strong>Basic Info</strong>
            </div>
            <div class="col-9">
                <p>Name: @product.DetailName</p>
                <p>Quantity: @product.DetailQuantity</p>
                <p>Price: @product.DetailPrice</p>
            </div>
        </div>
    </div>
</text>
}