@model IEnumerable<eCommerceFrontend.Models.REST.Objects.Cathegory.CathegoryResponse>

@{
    ViewData["Title"] = "Home Page";
}


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                           
            </tr>
}        </tbody>
    </table>

<div>
    <form action="/Payment/Processing" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_2Ggmdu6GjggTolPptU5DTnHA00hwgZb3Di"
                data-amount=5000
                data-name="very important purchase"
                data-description="the good stuff"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true"
                data-label="Give me money">
        </script>
    </form>
</div>
