@model IEnumerable<eCommerceFrontend.Models.REST.Objects.Orders.OrderDetailsRequest>

@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
    if (Model.ToList().Count > 0)
    {
        await Html.RenderPartialAsync("Shared/_cartPartial", Model);
    }
}
else
{
<text>
    <div class="container">
        <h2>Cart is Empty.</h2>
    </div>
</text>
}
